@use '../global.scss' as c;
@import '../global.scss';

:root {
  --scrollY: 100px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  width: 100%;
  background: #fff;


}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 18px;

  & a {
    font-family: 'Bariol';
    color: $gray-1;
    cursor: pointer;
    text-decoration: none;
  }
}

.header {

  color: #EFEFEF;
  background: $purple-300;
  border-radius: 5.469px;
  height: 180px;
  margin: 0 20px;
  gap: 15px;


}

.aqua {
  border: 2px solid $cyan-500;
}

//Hero Header

.Bg-animation {
  background-size: auto 252px;
  background-image: url(/images/bg_creditoinmediato_4x.webp), url(/images/bg_creditoinmediato_4x.webp);
  background-position: calc(-142px - var(--scrollY)), calc(100% + 110px + var(--scrollY)), 100%;
  background-repeat: no-repeat;
  background-color: $indigo-300;
  border-radius: 5.469px;
}

.Hero {
  width: 90%;
  margin: 10px auto;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    margin: 0 1.25rem;
    gap: 1.375rem;
  }

  &-header img {
    width: 74px;
    height: 74px;
  }

  &-header h3 {
    color: var(--gris, #EFEFEF);
    text-align: center;
    font-family: "Geomanist";
    font-size: 2.1875rem;
  }

}

.content {
  margin: 80px;
  display: flex;
  flex-direction: column;
  gap: 100px;


  &-header {
    font-family: "Geomanist";
    font-size: 1.5625rem;
    color: $gray-1;
  }

  &-video {

    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 29.701px 26.401px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8.25px;
    border-radius: 10.808px;
    background: white;
    box-shadow: 3.86px 5.41px 23.19px 0px rgba(0, 177, 187, 0.18);

    & :hover {
      cursor: pointer;
    }

    & img {

      width: 100%;

    }


  }

  &-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;

    &-left,
    &-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    & h3 {
      color: $gray-1;
      font-family: Geomanist;
      font-size: 1.5625rem;
      font-weight: 700;
    }

    & p {
      color: $gray-1;
      font-family: Bariol;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }

  &-pilares {

    & .container {
      margin: 0 auto;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }



    &-card {
      display: flex;
      padding: 6px 17.602px 6px 17.602px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      border-radius: 8.801px;
      background: white;
      box-shadow: 6.77095px 9.47933px 40.62572px 0px rgba(0, 177, 187, 0.10);
    }

      


  }

  & .card-tag {
    color: $cyan-500;
    font-family: Geomanist;
    font-size: 14.85px;
    font-weight: 700;
    line-height: 105%;
  }

  & h5 {
    color: $gray-1;
    font-family: Geomanist;
    font-size: 1.5rem;
    font-weight: 700;
  }

  & p {
    color: $gray-1;
    font-family: Bariol;
    font-size: 1.25rem;
    font-weight: 400;

  }

}

 .president-container {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 3.125rem;
}

.subtitulos {
  color: $gray-1;
  font-family: Geomanist;
  font-size: 1.5625rem;
  font-weight: 500;
  margin-bottom: 30px;
}



.buttonDuoIcon__icon {
  width: 110px;
}

.buttonDuoIcon__arrow {
  display: none;
}

.buttonDuoIcon__text {
  color: $gray-1;
  font-family: Geomanist;
  font-size: 1.125rem;
  font-weight: 500;

}

.purple-button {
  .buttonDuoIcon__icon {
    background-color: $purple-300;
  }
}

.cyan-button {
  .buttonDuoIcon__icon {
    background-color: $cyan-500;
  }
}


@media (min-width: 767px) {

  .Bg-animation {
    background-size: auto 333px;
    background-image: url(/images/creditoinmediatoDK_4x.webp), url(/images/creditoinmediatoDK_4x.webp);
    background-position: calc(-142px - var(--scrollY)), calc(100% + 110px + var(--scrollY)), 100%;
    background-repeat: no-repeat;
    background-color: $purple-300;
    border-radius: 0;
  }

  .Hero {
    width: 100%;
    margin: 0;
  }

  .content {

    &-buttons {
      /*grid-template-columns: 1fr;*/
    }
  }




}