// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "../../global.scss";

//Estilos componente de la card

div.card-container {
    display: flex;
    flex-direction: column;
    width: 300px;

    border-radius: 0.4375rem;
    background: white;

    /* shadow-card-perfil */
    box-shadow: 4.79833px 6.71767px 28.79px 0px rgba(159, 102, 219, 0.18);
}

img#image-header {
    width: 100%;
    border-radius: 8 8 0 0;
}

div.card-text-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 120px;
}

h1.card-title {
    color: $gray-1;

    /* Desktop/Card Title */
    font-family: "geomanist-regular";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 1.625rem */
}

p.card-text {
    color: $gray-1;

    /* Desktop/Body */
    font-family: "bariol-regular";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 1.4625rem */
}