@import '../global.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

:root {
    --scrollY: 0px;
}

//Hero Header

.Bg-animation {
    height: 352px;
    background-size: auto 627px;
    background-image: url(../../public/images/bg_trabaja_mobile.webp), url(../../public/images/bg_trabaja_mobile.webp);
    background-position: calc(-493px - var(--scrollY)), calc(100% + 482px + var(--scrollY)), 100%;
    background-repeat: no-repeat;
}


.Hero {
    position: relative;
    display: grid;
    margin-top: 0;
    padding: 12px 21px;
    background-color: $purple-300;

        &-Profile {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-Profile h1 {
            color: var(--white, #FFF);
            text-align: center;
            font-family: font-geomanist-medium, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
}

.tab-bar{   
    position: relative;
    display: flex;
    left: 5%;
    width: 90%;
    padding: 0.1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 30px 0px rgba(159, 102, 219, 0.18);
    border-radius: 0.4375rem;
}

.tab-button{
    color: $gray-1;
    border: none;
    width: 100%;
    background: none;
    padding: 0.5rem;
    text-align: center;
    font-family: font-bariol-regular, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: normal;
    border-right: 1px solid $gray-1;
}

.tab-button:last-child {
    border-right: none;
}


.tab-content{
    display: none;
}

.active{
    color: $purple-300;
    border-bottom: 2px solid $purple-300;
}

.content {
    padding: 1.4rem;
}

.content-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
}

.tab-content h3{
    margin: 50px;
}

.p-tab-content {
    color: $gray-1;
    margin: 0px 5%;
}

ol li {
    margin-right: 70px;
    color: $gray-1;
    font-family: font-bariol-regular, sans-serif;
}

.procedures p{
    color: $gray-1;
}

ol li::marker {
    color: $purple-300;
}

/* El resto */

.title {
    color: $gray-1;
    font-family: font-geomanist-medium, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.description {
    color: $gray-1;
    font-family: font-bariol-regular, sans-serif;
    font-size: 1rem;
    margin-bottom: 3rem !important;
}

.alert {
    color: $gray-1;
    text-align: center;
    font-family: font-bariol-regular, sans-serif;
    font-size: 0.8125rem;
    margin-bottom: 2rem !important;
}

.alert span {
    color: $orange-300;
}

.Form {
    margin-bottom: 3rem;

    &-left {
        display: flex; 
        flex-direction: column;
    }
    & label p {
        color: $purple-300;
        font-family: font-bariol-regular, sans-serif;
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }
    & label {
        margin-bottom: 0.5rem;
    }
    &-text {
        border-radius: 0.17025rem;
        border: 1.167px solid #CDCDCD;
        background: var(--white, #FFF);
        padding-left: 0.5rem;
        width: 100%;
    }
    & select, & textarea {
        border-radius: 0.17025rem;
        border: 1.167px solid #CDCDCD;
        background: var(--white, #FFF);
        padding-left: 0.5rem;
        width: 100%;
    }
}

.check-accept {
    margin-top: 4rem;

    & label {
        display: flex;
        align-items: center;
        gap: 1rem;
        
    }

    & label p {
        font-family: font-bariol-regular, sans-serif;
        font-size: 0.8125rem;
        color: $gray-1;
    }
}

.submit {
    border-radius: 0.4375rem;
    background: var(--Morado-300, #9F66DB);
    padding: 0.5rem 2rem;
    color: var(--white, #FFF);
    text-align: center;
    border: none;
    font-family: font-bariol-regular, sans-serif;
    font-size: 1rem;
    margin-top: 3rem;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (min-width: 1024px){
    .content {
        margin-top: 1.5rem;
        padding: 5rem;
    }

    .tab-button{
        font-size: 1.3rem;
    }

    .Bg-animation {
        height: 296px;
        background-size: auto 568px;
        background-image: url(/public/images/bg_trabaja_desktop.webp), url(/public/images/bg_trabaja_desktop.webp);
        background-position: calc(-722px - var(--scrollY)), calc(100% + 648px + var(--scrollY)), 100%;
        background-repeat: no-repeat;
    }

    .Hero {
            &-Profile h1 {
                font-size: 42px;
            }
    }

    /* El resto */

    .title {
    font-size: 2.18rem;
    margin-top: 0rem;
    }

    .description {
        font-size: 1.4rem;
        margin-bottom: 5rem !important;
    }

    .alert {
        display: none;
    }

    .Form {
        margin-bottom: 3rem;

        &-info {
            display: flex;
            gap: 3rem;
        }
        &-left {
            display: flex; 
            flex-direction: column;
            width: 50%;
        }
        &-right {
            display: flex; 
            flex-direction: column;
            width: 50%;
        }
        & label p {
            font-size: 1.3rem;
            margin-bottom: 0.4rem;
        }
        & label {
            margin-bottom: 0.8rem;
        }
        &-text {
            padding: 0.3rem 0;
        }
        & select, & textarea {
            padding: 0.3rem 0;
        }
    }

    .check-accept {
        margin-top: 6rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        & label p {
            font-size: 1.4rem;
            width: 45%;
        }
    }
    
    .submit {
        padding: 0.5rem 5rem;
        font-size: 1.2rem;
        margin-top: 3rem;
    }
    
    .submit-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
