@import '../global.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

:root {
    --scrollY: 0px;
}

//Hero Header

.Bg-animation {
    height: 352px;
    background-size: auto 627px;
    background-image: url(../../public/images/bg_trabaja_mobile.webp), url(../../public/images/bg_trabaja_mobile.webp);
    background-position: calc(-493px - var(--scrollY)), calc(100% + 482px + var(--scrollY)), 100%;
    background-repeat: no-repeat;
}


.Hero {
    position: relative;
    display: grid;
    margin-top: 0;
    padding: 12px 21px;
    background-color: $purple-300;

        &-Profile {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-Profile h1 {
            color: var(--white, #FFF);
            text-align: center;
            font-family: Geomanist, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
}

.tab-bar{   
    position: relative;
    display: flex;
    left: 5%;
    width: 90%;
    padding: 0.1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 30px 0px rgba(159, 102, 219, 0.18);
    border-radius: 0.4375rem;
}

.tab-button{
    color: $gray-2;
    border: none;
    width: 100%;
    background: none;
    padding: 0.5rem;
    text-align: center;
    font-family: Bariol, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: normal;
    border-right: 1px solid $gray-2;
}

.tab-button:last-child {
    border-right: none;
}


.tab-content{
    display: none;
}

.active{
    color: $purple-300;
    border-bottom: 2px solid $purple-300;
}

.content {
    padding: 1.4rem;
}

.content-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
}

.tab-content h3{
    margin: 50px;
}

.p-tab-content {
    color: $gray-2;
    margin: 0px 5%;
}

ol li {
    margin-right: 70px;
    color: $gray-1;
    font-family: Bariol, sans-serif;
}

.procedures p{
    color: $gray-1;
}

ol li::marker {
    color: $purple-300;
}

/* El resto */




@media only screen and (min-width: 1024px){
    .content {
        margin-top: 1.5rem;
        padding: 4rem;
    }

    .tab-button{
        font-size: 1.3rem;
    }

    .Bg-animation {
        height: 296px;
        background-size: auto 568px;
        background-image: url(/public/images/bg_trabaja_desktop.webp), url(/public/images/bg_trabaja_desktop.webp);
        background-position: calc(-722px - var(--scrollY)), calc(100% + 648px + var(--scrollY)), 100%;
        background-repeat: no-repeat;
    }

    .Hero {
            &-Profile h1 {
                font-size: 42px;
            }
    }

    /* screen 2 */

    .content-title {
        & h2 {
            font-size: 2.18rem;
        }
        & p {
            font-size: 1.1rem;
        }
    }

    .Segments {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 1rem;
        margin-bottom: 3rem;
    
        & figure {
            width: 30%;
            padding: 2rem;
            margin-bottom: 0rem;
        }
        &-info h2 {
            color: $gray-1;
            font-size: 1.5rem;
        }
        &-info p {
            color: $gray-2;
            font-size: 0.9rem;
            line-height: 150%;
        }
    }
    
    .last-button {
        & a {
            padding: 0.5rem 9rem;
            font-size: 1.1rem;
        }
    }

}
