@import "bootstrap/scss/bootstrap";
@import "../global.scss";

* {
    margin-right: 0px;
}

section#seguros-header {
    position: relative;
}

img#header-images {
    width: 100%;
    height: auto;
}



@media (max-width: 425px) {
    section#seguros-cards-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -100px;

        gap: 20px;

        margin-bottom: 60px;

    }

    img#header-images {
        width: 100%;
        height: auto;
        content: url('/images/mobile-informacion-consumidor_4x.webp');
    }

    div#title-over-header {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    section#seguros-cards-section {
        display: flex;
        flex-flow: row wrap;
        
        margin-top: 100px;

        gap: 20px;

        margin-bottom: 60px;

    }

    img#header-images {
        width: 100%;
        height: auto;
        content: url('/images/web-informacion-consumidor_4x.webp');
    }

    div#title-over-header {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 40%;
    }
}

@media (min-width: 769px) {
    section#seguros-cards-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: auto;
        margin-top: 100px;

        

        margin-bottom: 60px;

    }

    img#header-images {
        width: 100%;
        height: auto;
        content: url('/images/web-informacion-consumidor_4x.webp');
    }

    div#title-over-header {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

nav#nav-bar-float {
    position: absolute;
    width: 80%;
    height: 100px;
    border-radius: 5%;
    border: none;
    box-shadow: 2.7083940505981445px 3.793248176574707px 16.26532745361328px 0px rgba(159, 102, 219, 0.18);
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 10%;
    bottom: -70px;
    z-index: 1;

    & button {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $cyan-300;
        text-align: center;
        font-family: Bariol, sans-serif;
        font-size: 18px;
        font-weight: 400;
        justify-content: center;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0 1%;

        & .icon {
            width: 24%;
            margin-bottom: 0.5rem;
        }

        & a {
            display: flex;
            text-decoration: none;
            justify-content: center;
            color: $cyan-300;
        }
    }

    & button:hover {
        background-color: $cyan-100;
    }

    .active {
        background-color: $cyan-300;

        & p {
            color: white;

        }

        & img {
            filter: saturate(0) brightness(3);
        }
    }

    p {
        font-family: "bariol-regular";
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button.tab-button {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}