@import '../global.scss';
@import "bootstrap/scss/bootstrap";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
    font-family: Bariol, sans-serif;
    color: $gray-1;
    font-size: 18px;
}

h2 {
    font-family: Geomanist, sans-serif;
    color: $gray-1;
    font-size: 14px;
}

.banner{
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: space-between;
}

.ancianos-image{
    position: relative;
    width: 40%;
    left: 12%;
    margin-top: 4rem;
}

.banner-bg{
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: $gray-3;
}

.info{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 1rem;
    height: max-content;
    margin-right: 5%;
    z-index: 2;
}

.banner h2{
    color: $gray-1;
    width: 80%;
    font-family: Geomanist, sans-serif;
    font-size: 2.78375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner p{
    width: 80%;
    color: $gray-2;
    font-family: Bariol, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tab-bar{   
    position: relative;
    display: flex;
    left: 5%;
    width: 90%;
    padding: 0.1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 30px 0px rgba(159, 102, 219, 0.18);
    border-radius: 0.4375rem;
}

.tab-button{
    color: $gray-2;
    border: none;
    width: 100%;
    background: none;
    padding: 0.5rem;
    text-align: center;
    font-family: Bariol, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    border-right: 1px solid $gray-2;
}

.tab-button:last-child {
    border-right: none;
}


.tab-content{
    display: none;
}

.active{
    color: $purple-300;
    border-bottom: 2px solid $purple-300;
}

.more-info {
    background-color: $purple-300;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.more-info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Bariol, sans-serif;
}

.more-info h2 {
    font-family: Geomanist, sans-serif;
    font-weight: 1000;
    color: white;
    font-size: 35px;
}

.white-button {
    background-color: white;
    border-style: none;
    padding: 8px 15px;
    border-radius: 6px;
    margin: 5px;
    color: $purple-300;
}

.purple-button {
    background-color: $purple-300;
    border-style: none;
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 5px;
    color: white;
}

#characteristics {
    margin: 5%;
}

#benefits {
    margin: 5%;
}

#opening {
    margin: 5%;
}

#cancellation {
    margin: 5%;
}

.content-vertical-list {
    margin-left: 10px;
}
.content-vertical-list span {
    color: $purple-300;
}

.content-vertical-list article:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray-3;
    border: 4px solid $purple-300;
    position: absolute;
    margin-left: -38px;
    margin-top: 5px;
}

.article-line {
    border-left: 2px solid $purple-100;
}

.content-vertical-list article {
    padding: 0 0px 10px 30px;
    color: $gray-1;
}

.accordion-button {
    background-color: $purple-300;
    color: white;
    font-weight: 400;
    font-size: 1.37rem;
    font-family: Bariol, sans-serif;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.content-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-list article {
    width: auto;
    padding: 0 40px 40px 15px;
    color: $gray-1;
}

.content-list article:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray-3;
    border: 4px solid $purple-300;
    position: absolute;
    margin-left: -22px;
    margin-top: 5px;
}

.content-ol-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 60px;
}

.content-ol-list li {
    margin: 0px 60px;
    padding-right: 30px;
}
