@import '../global.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-bg {
    position: relative;
    top: 0%;
    width: 100%;
    background-color: #EFEFEF;
    z-index: 1;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 40%;
    height: max-content;
    z-index: 2;
    gap: 0.5rem;
}

.title {
    color: $gray-1;
    width: 80%;
    font-family: "font-geomanist-medium", sans-serif;
    font-size: 2.78375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.table-title {
    color: #F83;
    font-family: "font-geomanist-regular";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table-head th {
    color: #FF6900;
    font-family: "font-geomanist-regular";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table-data{
    border-bottom: 1px solid #FFA666;
}

.table-data td {
    color: #ACACAC;
    padding: 2.5rem 0;
    font-family: "font-bariol-regular";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.content {
    margin-top: -6%;
    padding: 5% 0;
}


.tab-content {
    display: flex;
    grid-template-columns: 1fr;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 90%;
    margin: 3rem auto;
    gap: 1.5rem;
}

.mobile {
    display: none;
}



@media screen and (max-width:1200px) {
    body {
        font-size: 10px;
    }

    .title {
        font-size: 2.4rem;
    }

}

@media screen and (max-width: 1000px) {
    body {
        font-size: 8px;
    }

    .title {
        font-size: 1.4rem;
    }

    .tab-button,
    .points {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 832px) {
    .mobile {
        display: flex;
    }

    .title {
        margin: 0;
    }

    .tab-button {
        width: 32%;
    }

}

@media screen and (max-width: 690px) {
    .title {
        font-size: 1.2rem;
    }

    .tab-button,
    .points {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 594px) {

    .title {
        font-size: 1rem;
    }

    .tab-button {
        width: 50%;
    }
}

@media screen and (min-width: 425px) and (max-width: 540px) {
    .mobile {
        display: flex;
    }
}

@media screen and (max-width: 500px) {

    .title {
        text-align: center;
        font-size: 2rem;
    }

}

@media screen and (max-width: 425px) {
    .tab-button {
        font-size: 0.7rem;
    }

    .title {
        font-size: 1.7rem;
    }


}