@import '../global.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

.banner{
    display: flex;
    height: 70%;
    align-items: center;
    background-image: url(../images/bg_actualizar_informacion_full.webp);
    background-size: cover;
    justify-content: space-between;
}

.ancianos-image{
    position: relative;
    width: 40%;
    left: 12%;
    margin-top: 4rem;
}

.info{
    display: flex;
    flex-direction: column;
    width: 43%;
    gap: 1rem;
    height: max-content;
    margin-right: 5%;
    z-index: 2;
}

.banner h2{
    color: $gray-1;
    width: 80%;
    font-family: Geomanist, sans-serif;
    font-size: 2.78375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner p{
    width: 80%;
    color: $gray-2;
    font-family: Bariol, sans-serif;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tab-bar{   
    position: relative;
    display: flex;
    left: 5%;
    width: 90%;
    padding: 0.1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 30px 0px rgba(159, 102, 219, 0.18);
    border-radius: 0.4375rem;
    margin: -1rem 0;
}

.tab-button{
    color: $gray-2;
    border: none;
    width: 100%;
    background: none;
    padding: 0.5rem;
    text-align: center;
    font-family: Bariol, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    border-right: 1px solid $gray-2;
}

.tab-button:last-child {
    border-right: none;
}


.tab-content{
    display: none;
}

.active{
    color: $cyan-500;
    border-bottom: 2px solid $cyan-500;
}

.content-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.tab-content h3{
    margin: 50px;
}

.p-tab-content {
    color: $gray-2;
    margin: 0px 5%;
}

ol li {
    margin-right: 70px;
    color: $gray-1;
    font-family: Bariol, sans-serif;
}

.procedures p{
    color: $gray-1;
}

ol li::marker {
    color: $cyan-500;
}

article {
    width: auto;
    padding: 0 70px 40px 10px;
    color: $gray-1;
}

.article-line {
    border-left: 2px solid $purple-100;
}

article:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray-3;
    border: 4px solid $purple-300;
    position: absolute;
    margin-left: -18px;
}

.more-info {
    background-color: $purple-300;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.giros-info {
    background-color: $purple-300;
    display: flex;
    flex-direction: row;
    color: white;
}

.giros-info p {
    padding: 80px 80px;
    text-align: center;
    color: white;
}

.more-info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Bariol, sans-serif;
}

.more-info h2 {
    font-family: Geomanist, sans-serif;
    font-weight: 1000;
    color: white;
    font-size: 35px;
}

.white-button {
    background-color: white;
    border-style: none;
    padding: 8px 15px;
    border-radius: 6px;
    margin: 5px;
    color: $purple-300;
}

.purple-button {
    background-color: $purple-300;
    border-style: none;
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 5px;
    color: white;
}

/* My part */

.form-seguros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.left-form,
.right-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

    & label {
        font-family: Bariol, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
        color: $gray-2;
    }

    & select,
    & input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $gray-2;
        padding: 0 10px;
        font-family: Bariol, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
        margin-top: 0.7rem;
        color: $gray-2;
    }
    & input::placeholder {
        color: $gray-2;
    }
}

.submit {
    border-radius: 7px;
    background: var(--acuamarina-500, #00B1BB);
    padding: 5px 48px;
    border: none;
    margin-top: 3rem;
    color: white;
}

.oculto {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8rem auto;

    & button {
        border-radius: 7px;
        background: var(--acuamarina-500, #00B1BB);
        padding: 5px 48px;
        border: none;
        margin-top: 3rem;
        color: white;
        font-family: Bariol, sans-serif;
    }
}

.unique-label {
    font-family: Bariol, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: $gray-2;
    margin-top: 1rem;
}

.form-content2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

    & select {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $gray-2;
        padding: 0 10px;
        font-family: Bariol, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
        margin-top: 0.7rem;
        color: $gray-2;
    }
    & input::placeholder {
        color: $gray-2;
    }
}

.subtitle-seguro {
    font-family: Bariol, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin: 2rem 0rem !important; 
    color: $gray-2;
}

.label-checks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: Bariol, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: $gray-2;
    margin-top: 1rem;

    & input {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid $gray-2;
        padding: 0 10px;
        font-family: Bariol, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
        color: $gray-2;
    }
}

@media screen and (max-width:1200px) {
    .banner p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {

    .banner h2 {
        font-size: 35px;
    }

    .banner p {
        font-size: 18px;
    }
}

@media screen and (max-width: 821px) {
    .form-content2 {
        width: 100%;
    }

    .form-seguros {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .form-content {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .left-form,
    .right-form {
        width: 100%;
    }

    .banner{
        background-image: url(../images/bg_envia_giros_mobile.webp);
        flex-direction: column-reverse;
    }

    .ancianos-image{
        position: relative;
        width: 70%;
        left: 0%;
        margin-top: 4rem;
    }

    .info{
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 1rem;
        height: max-content;
        margin-right: 5%;
        z-index: 2;
        text-align: center;
    }
    
    .banner h2{
        color: $gray-1;
        width: 100%;
        font-family: Geomanist, sans-serif;
        font-size: 2.78375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .banner p{
        width: 100%;
        font-size: 18px;
    }
    .content-list {
        display: flex;
        flex-direction: column;
        margin: 50px;
    }

    article {
        width: 100%;
        padding: 0px 70px 60px 10px;
        color: $gray-1;
        border-left: 2px solid $purple-100;
        margin: 0px;
    }
}

@media screen and (min-width: 425px) and (max-width: 540px) {
    .white-button {
        padding: 5px 10px;
    }
    .purple-button {
        background-color: $purple-300;
        padding: 5px 10px;
    }
}