@use './src/global.scss' as c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

:root {
    --scrollY: 0px;
}

//Hero Header

.Bg-animation {
    height: 352px;
    background-size: auto 352px;
    background-image: url(../../public/images/hero_circles.webp), url(../../public/images/hero_circles.webp);
    background-position: calc(-290px - var(--scrollY)), calc(100% + 347px + var(--scrollY)), 100%;
    background-repeat: no-repeat;
}

.Hero {
    position: relative;
    display: grid;
    margin-top: 0;
    padding: 12px 21px;
    background-color: c.$orange-300;

        &-buttons {
            display: flex;
            justify-content: right;
            gap: 14.72px;   
            height: 17%;
        }    
        &-Profile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;
        }
        &-Profile img {
            width: 160px;
        }
        &-menu {
            position: absolute;
            top: 81%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
        &-border {
            border-right: 0.5px solid c.$orange-300;
        }
}

.Hero-menu ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 1.9545453786849976px 2.736363649368286px 11.727272987365723px 0px rgba(255, 105, 0, 0.15);
}

 .Hero-menu li {
    list-style: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}


