@import "../global.scss";

section#bread-crum {
    display: flex;
    flex-direction: row;
}


p#text-bread-crum {
    color: rgba(103, 103, 103, 0.36);
    text-align: center;
    font-family: "bariol-regular";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

div#section-container {
    width: 90%;
    margin-bottom: 80px;
}

h1#title-section {
    color: $gray-1;
    font-family: "geomanist-medium";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 134%;
    /* 1.34rem */
}

div.item-dropdown {
    display: flex;
    flex-direction: row;
    border-radius: 0.4375rem;
    background: $cyan-500;
    padding: 20px;
    align-items: center;
    justify-content: space-between;


    /* shadow blue 1 */
    box-shadow: 5px 7px 30px 0px rgba(0, 177, 187, 0.15);
}

p.faq-title {
    color: white;
    font-family: "bariol-regular";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 220px;
    /* 1.21875rem */
}

div.item-dropdown-contained {
    border-radius: 0.4375rem;
    background: white;

    display: none;
    flex-direction: column;
    /* shadow blue 1 */
    box-shadow: 5px 7px 30px 0px rgba(0, 177, 187, 0.15);
    padding: 20px;
}

p.faq-text {
    color: $gray-2;
    font-family: "bariol-regular";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

img.dropdown-icon{
    width: 32px;
}

div.bullet-text-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

img.bullet-icons{
    margin-top: 4px;
    width: 12px;
    height: 12px;
}
