@use './src/global.scss' as c;

//Mixins

@mixin box_controls($gp: 18px, $w: 144.516px, $h: 120px, $p: 13px 25px 0 25px, $f: 13px) {
    color: c.$gray-2;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $w;
    height: $h;
    gap: $gp;
    border-radius: 5.385px;
    background: #FFF;
    padding: $p;
    box-shadow: 4.48753023147583px 6.282541751861572px 26.925180435180664px 0px rgba(159, 102, 219, 0.18);
    text-align: center;
    line-height: normal;
    font-size: $f;
    font-family: 'Bariol';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

p {
    margin-bottom: 0;
}

:root {
    --scrollY: 0px;
}

//Hero Header

.Bg-animation {
    height: 352px;
    background-size: auto 352px;
    background-image: url(../../../public/images/hero_circles.webp), url(../../../public/images/hero_circles.webp);
    background-position: calc(-290px - var(--scrollY)), calc(100% + 347px + var(--scrollY)), 100%;
    background-repeat: no-repeat;
}


.Hero {
    position: relative;
    display: grid;
    margin-top: 0;
    padding: 12px 21px;
    background-color: c.$orange-300;

        &-buttons {
            display: flex;
            justify-content: right;
            gap: 14.72px;   
            height: 17%;
        }    
        &-buttons a {
            transition: all 0.2s;
        }
        &-buttons a:hover {
            transform: scale(1.1);
        }
        &-Profile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;
        }
        &-Profile img {
            width: 160px;
        }
        &-menu {
            position: absolute;
            top: 81%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
        &-border {
            border-right: 0.5px solid c.$orange-300;
        }
        &-border p {
            display: none;
            white-space: nowrap;
        }
        &-other p {
            display: none;
        }
        &-menu ul {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 1.9545453786849976px 2.736363649368286px 11.727272987365723px 0px rgba(255, 105, 0, 0.15);
        }
}

h2 {
    font-size: 30px;
    font-family: 'Geomanist';
    color: c.$gray-2;
    font-weight: 700;
    margin-bottom: 0;
}

 .Hero-menu li {
    list-style: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.Hero-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Geomanist';
    font-size: 16px;
    color: c.$orange-300;
    text-decoration: none;
    gap: 1rem;
    text-align: center;
}

// Buttons

.Buttons {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 35px 0 35px;
    margin-top: 2rem;

        &-name {
            display: flex;
            align-items: center;
            margin: 4rem 35px 0 35px;
        }
}

.title-dairy {
    margin-left: 20px;
    margin-top: 2rem;
    color: c.$cyan-500;
    font-size: 18px;
    font-family: 'Bariol';
}

.subtitle-dairy {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 20px;
    margin-top: 2rem;
    
    & a {
        text-decoration: none;
        color: c.$cyan-500;
        font-size: 18px;
        font-family: 'Bariol';
    }
}

.main {
    margin: 20px;

    &-title {
        color: c.$gray-1;
        font-size: 18px;
        font-family: 'Bariol';
        margin-bottom: 1rem;
    }
    & label {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        font-size: 18px;
        font-family: 'Bariol';
        margin-bottom: 1rem;
        color: c.$gray-2;
    }
    & select {
        border-radius: 0.1875rem;
        border: 1.176px solid var(--gris-3, #ACACAC);
        background: #FFF;
        width: 100%;
        padding: 0.5rem 0.7rem;
        margin-top: 0.3rem;
    }
    & option {
        color: c.$gray-2;
        font-size: 13px;
        font-family: 'Bariol';
    }
    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    & button {
        width: 100%;
        border-radius: 0.19525rem;
        background: var(--acuamarina-500, #00B1BB);
        box-shadow: 3.9538462162017822px 3.9538462162017822px 22.932308197021484px 0px rgba(0, 177, 187, 0.10);
        color: #FFF;
        font-size: 13px;
        font-family: 'Bariol';
        padding: 0.3rem;
        border: none;
    }
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    & button {
        width: 100%;
        border-radius: 0.19525rem;
        background: var(--acuamarina-500, #00B1BB);
        box-shadow: 3.9538462162017822px 3.9538462162017822px 22.932308197021484px 0px rgba(0, 177, 187, 0.10);
        color: #FFF;
        font-size: 13px;
        font-family: 'Bariol';
        padding: 0.3rem;
        border: none;
        margin-bottom: 5rem;
    }
}

//Modal

#modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* Inicialmente oculto */
}
  
 #modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;      
        margin-bottom: 1rem;
        gap: 3rem;
    }
    & h3 {
        font-size: 16px;
        color: c.$gray-2;
        font-family: 'Bariol';
    }
    & span {
        font-size: 16px;
        color: c.$gray-1;
        font-family: 'Bariol';
    }
    &-info {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 1rem;
    }
    & p {
        font-size: 13px;
        color: c.$gray-2;
    }
    &-buttons {
        display: flex;
        gap: 1rem;

        & button:nth-child(1) {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3.92px;
            background: var(--gris, #EFEFEF);
            border: none;
            padding: 9px 26px;
            flex: 1;
            color: c.$gray-2;
        }
        & button:nth-child(2) {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3.92px;
            background: var(--acuamarina-500, #00B1BB);
            border: none;
            padding: 9px;
            flex: 1;
            white-space: nowrap;
            color: #FFF;
        }
    }
}
  
button {
    margin-top: 10px;
}

@media only screen and (min-width: 780px){

}


@media only screen and (min-width: 1024px){
    //Header
    .Hero {

        &-buttons {
            gap: 27px;
            margin: 30px 50px 0 0;
        }
        &-buttons svg{
            width: 30px;
            height: 30px;
        }
        &-Profile {
            padding-bottom: 10rem;
        }
        &-Profile h3{
            color: #FFF;
            text-align: center;
            font-family: 'Geomanist';
            font-weight: 700;
            font-size: 45px;  
        }
        &-Profile img{
            width: 292px;
            height: 292px;
        }
        &-menu {
            position: absolute;
            top: 67%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
        &-border {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-border p {
            display: block;
        }
        &-other p {
            display: block;
        }
        &-other {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-menu ul {
            width: 880px;
            height: 145px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 1.9545453786849976px 2.736363649368286px 11.727272987365723px 0px rgba(255, 105, 0, 0.15);
        } 
        &-other svg,
        &-border svg {
            width: 33px;
            height: 33px;
        }
    }

    .Hero-menu li {
        width: 145px;
        height: 80px;
        list-style: none;
        margin-top: 16px;
        margin-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .Bg-animation {
        height: 471px;
        background-size: auto 863px;
        background-image: url(/public/images/hero-circles-desktop.webp), url(/public/images/hero-circles-desktop.webp);
        background-position: calc(-919px - var(--scrollY)), calc(100% + 858px + var(--scrollY)), 100%;
        background-repeat: no-repeat;
    }
    
    .Buttons {
        &-name {
            margin: 8rem 35px 0 100px;  
        }
    }

}
    //El resto

@media only screen and (min-width: 1440px){
    .Buttons-up {
        margin: 0;
        gap: 0rem;
    }

    .Button-info {
        font-size: 30px;
        margin-left: 6rem;
        margin-top: 10rem;
        margin-bottom: 6rem;
    }

    .Buttons {
        display: flex;
        flex-direction: column;
        margin: 4rem 100px 0 100px;
    }
}


