@use '../global.scss' as c;
@import '../global.scss';

:root {
  --scrollY: 100px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  width: 100%;
  background: #fff;


}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 18px;

  & a {
    font-family: 'Bariol';
    color: $gray-1;
    cursor: pointer;
    text-decoration: none;
  }
}

.header {

  color: #EFEFEF;
  background: $purple-300;
  border-radius: 5.469px;
  height: 180px;
  margin: 0 20px;
  gap: 15px;


}

.aqua {
  border: 2px solid $cyan-500;
}

//Hero Header

.Bg-animation {
  background-size: auto 254px;
  background-image: url(/images/bg_quienes-somos_DK_4x.webp), url(/images/bg_quienes-somos_DK_4x.webp);
  background-position: calc(-557px - var(--scrollY)), calc(100% + 512px + var(--scrollY)), 100%;
  background-repeat: no-repeat;
  background-color: $purple-300;
}

.Hero {
  width: 100%;
  margin: 10px auto;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    margin: 0 1.25rem;
    gap: 1.375rem;
  }

  &-header img {
    width: 74px;
    height: 74px;
  }

  &-header h3 {
    color: var(--gris, #EFEFEF);
    text-align: center;
    font-family: "Geomanist";
    font-size: 2.1875rem;
  }

  &-header p {
    color: white;
    font-family: 'Bariol';
    font-size: 23px;
  }

  &-header button {
    font-family: 'Bariol';
    display: flex;
    width: 133px;
    height: 36px;
    padding: 15.719px 35px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $orange-300;
    border: none;
    color: white;
    transition: 0.2s;

    &:hover {
      background: $orange-200;
    }

    & a {
      text-decoration: none;
      color: #fff;

    }
  }

}

.content {
  margin: 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  & h3 {
    color: $gray-1;
    font-family: Geomanist;
    font-size: 30px;
    font-weight: 500;
  }


  &-header {
    font-family: "Geomanist";
    font-size: 1.5625rem;
    color: $gray-1;
  }



  & h5 {
    color: $gray-1;
    font-family: Geomanist;
    font-size: 1.5rem;
    font-weight: 700;
  }

  & p {
    color: $gray-1;
    font-family: Bariol;
    font-size: 1.25rem;
    font-weight: 400;

  }

}

#tasas-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
  gap: 20px;
}



@media screen and (max-width:1200px) {

  #tasas-card-container{
    justify-items: center;
    align-items: center;

  }


}

@media screen and (max-width: 1000px) {

  .content {
    margin: 40px;
    gap: 60px;
  }

}

@media screen and (max-width: 767px) {

  .content {
    margin: 20px;
    gap: 40px;
  }

  .Bg-animation {
    background-size: auto 333px;
    background-image: url(/images/bg_quienes-somos_MB_4x.webp), url(/images/bg_quienes-somos_MB_4x.webp);
    background-position: calc(-288px - var(--scrollY)), calc(100% + 344px + var(--scrollY)), 100%;
    background-repeat: no-repeat;
    background-color: $purple-300;
    border-radius: 0;
  }

  .Hero {
    width: 100%;
    margin: 0;
  }
  
  

}