@import "bootstrap/scss/bootstrap";
@import "../global.scss";

* {
    margin-right: 0px;
}


img#header-images {
    width: 100%;
    height: auto;
}

h1#title-section {
    color: $gray-1;
    font-family: "geomanist-regular";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

p#subtitle-section {
    color: $gray-1;
    text-align: center;
    font-family: "bariol-regular";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button#button-header {
    border: 0px;
    border-radius: 0.26694rem;
    background: white;

    color: $cyan-500;
    text-align: center;
    font-family: "bariol-regular";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;

}

button#button-header:hover {

    background: $cyan-100;
}

button#button-header:active {
    border: 2px solid white;
    color: $cyan-500;
    background: $cyan-100;
}





@media (max-width: 425px) {
    section#seguros-cards-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
        gap: 20px;

        margin-bottom: 60px;

    }

    img#header-images {
        width: 100%;
        height: auto;
        content: url('/images/mobile-fogafin_4x.webp');
    }

    img#section-images {
        width: 100%;
        height: auto;
        content: url('/images/mobile-cobertura-maxima_4x.webp');
    }

}

input#search-input {
    border-radius: 8.8125rem;
    border: 1.036px solid var(--gris-3, #ACACAC);
    background: var(--white, #FFF);
    width: 250px;
    height: 10px;
    padding: 15px;

    color: $gray-2;
    font-family: "bariol-regular";
    font-size: 1.07875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input#search-input::placeholder {
    color: $gray-2;
}

@media (min-width: 426px) and (max-width: 768px) {
    section#seguros-cards-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        margin-top: -80px;

        gap: 20px;

        margin-bottom: 60px;

    }

    img#header-images {
        width: 100%;
        height: auto;
        content: url('/images/web-fogafin_4x.webp');
    }

    img#section-images {
        width: 100%;
        height: auto;
        content: url('/images/web-cobertura-maxima_4x.webp');
    }


}

@media (min-width: 769px) {
    section#seguros-cards-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: auto;
        margin-top: -100px;
        gap: 20px;



        margin-bottom: 60px;

    }

    img#header-images {
        width: 100%;
        height: auto;
        content: url('/images/web-fogafin_4x.webp');
    }

    img#section-images {
        width: 100%;
        height: auto;
        content: url('/images/web-cobertura-maxima_4x.webp');
    }


}

nav#nav-bar-float {
    position: absolute;
    width: 80%;
    height: 100px;
    border-radius: 5%;
    border: none;
    box-shadow: 2.7083940505981445px 3.793248176574707px 16.26532745361328px 0px rgba(159, 102, 219, 0.18);
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 10%;
    bottom: -70px;
    z-index: 1;

    & button {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $cyan-300;
        text-align: center;
        font-family: Bariol, sans-serif;
        font-size: 18px;
        font-weight: 400;
        justify-content: center;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0 1%;

        & .icon {
            width: 24%;
            margin-bottom: 0.5rem;
        }

        & a {
            display: flex;
            text-decoration: none;
            justify-content: center;
            color: $cyan-300;
        }
    }

    & button:hover {
        background-color: $cyan-100;
    }

    .active {
        background-color: $cyan-300;

        & p {
            color: white;

        }

        & img {
            filter: saturate(0) brightness(3);
        }
    }

    p {
        font-family: "bariol-regular";
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button.tab-button {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

//Dropdowns

div.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

section#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

div#section-container {
    width: 90%;
    margin-bottom: 80px;
}

h1#title-section {
    color: $gray-1;
    font-family: "geomanist-medium";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 134%;
    /* 1.34rem */
}

div.item-dropdown {
    display: flex;
    flex-direction: row;
    border-radius: 0.4375rem;
    background: $cyan-500;
    padding: 20px;
    align-items: center;
    justify-content: space-between;


    /* shadow blue 1 */
    box-shadow: 5px 7px 30px 0px rgba(0, 177, 187, 0.15);
}

p.faq-title {
    color: white;
    font-family: "bariol-regular";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 220px;
    /* 1.21875rem */
}

div.item-dropdown-contained {
    border-radius: 0.4375rem;
    background: white;

    display: none;
    flex-direction: column;
    gap: 20px;
    /* shadow blue 1 */
    box-shadow: 5px 7px 30px 0px rgba(0, 177, 187, 0.15);
    padding: 20px;
}

p.highlighted {
    color: $gray-1;
    font-family: "bariol-regular";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 1.875rem */
}

p.faq-text {
    color: $gray-1;
    font-family: "bariol-regular";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

img.dropdown-icon {
    width: 32px;
}

div.bullet-text-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

img.bullet-icons {
    margin-top: 4px;
    width: 12px;
    height: 12px;
}