@import "../global.scss";

@media (max-width: 768px) {
    #page-cover {
        width: 100%;
        padding: 10px;
        content: url("/images/mobile-simuladores-vtu_4x.webp");
    }

    #simulator-options {
        width: 100%;
    }

}

@media (min-width: 769px) {
    #page-cover {
        width: 100%;
        content: url("/images/web-simuladores-vtu_4x.webp");
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #simulator-options {
        width: 50%;
    }
}

#back-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 10px;
    margin-top: 20px;
}

#back-container:hover{
    cursor: pointer;
    text-decoration: underline;
}

#back-icon {
    width: 20px;
}

#back-title {
    color: var($gray-2, #676767);
    font-family: Bariol;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#simulator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#simulator-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
    margin-bottom: 40px;
}

.simulators-option-buttons {
    width: 100%;
    border-radius: 0.4375rem;
    border: 0.2px solid $gray-3;
    background: #FFF;
    box-shadow: 5px 7px 25px 0px rgba(0, 177, 187, 0.10);

    color: #00B1BB;
    text-align: center;
    font-family: "bariol-regular";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134%;

    height: 60px;
    /* 1.675rem */
}

.simulators-option-buttons:hover {
    background: $cyan-500;
    color: white;
}

.simulators-option-buttons:active {
    background: white;
    color: $cyan-500;
    border-radius: 0.4375rem;
    border: 2px solid var(--acuamarina-500, #00B1BB);
}