@import '../../global.scss';


.body_1 {
    font-family: "font-bariol-regular";
    font-size: 0.8125rem;
    line-height: 150%;
}

.text-btn {
    text-align: center;
    font-family: "font-bariol-regular";
    font-size: 0.7975rem;
}

#main-banner {
    background-image: url("/images/attention-own-bg-mobile.webp");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.5rem 14.61% 12.5rem;
    background-color: $gray_3;
    gap: 1rem;

    & h1 {
        color: $gray_1;
        text-align: center;
        font-family: "font-geomanist-bold";
        font-size: 1.875rem;
        line-height: 110%;
        margin: 0;
    }
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: -5.75rem;
    border-radius: 0.8125rem 0.8125rem 0rem 0rem;
    background: white;
    padding: 2rem 5.13%;

    & .search-bank {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h3 {
            color: $gray-1;
            text-align: center;
            font-family: "font-geomanist-bold";
            font-size: 1.125rem;
            line-height: 130%;
            margin: 0;
        }

        & .searching {
            display: flex;
            flex-direction: column;
            padding: 1.5rem 0;

            & .form-items {
                display: flex;
                flex-direction: column;
                gap: 0.88rem;
                margin-bottom: 1.75rem;

            }

            & .input-base {
                width: 100%;
                height: 2.375rem;
                border-radius: 0.28169rem;
                border: 1.932px solid #CDCDCD !important;
                color: $gray-2;
                padding: 0 0.81rem;

                & ::placeholder {
                    color: $gray-2;
                }
            }

            #send-form {
                width: auto;
                align-self: center;
                justify-self: center;
                padding: 0.58rem 1.74rem;
                background-color: $orange-400;
                border-radius: 0.4375rem;
                border: 1px solid $orange-400;
                color: white;
                text-align: center;
                font-family: "font-bariol-regular";
                font-size: 0.7975rem;

                &:hover {
                    border-color: $orange-400;
                    background-color: white;
                    color: $orange-400;
                }

                &:active {
                    background-color: $orange-100;
                    border-color: $orange-100;
                }
            }
        }
    }

}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .body_1 {
        font-size: 1rem;
    }

    .text-btn {
        font-size: 0.85rem;
    }

    #main-banner {
        padding: 7.5rem 17% 14.5rem;
        background-color: $gray_3;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        & h1 {
            width: 70%;
            font-size: 2rem;
        }
    }

    #content {
        display: flex;
        flex-direction: column;
        margin-top: -4rem;
        border-radius: 0.8125rem 0.8125rem 0rem 0rem;
        background: white;
        padding: 2rem 5.13%;

        & .search-bank {

            & h3 {
                font-size: 1.6rem;
            }

            & .searching {
                width: 100%;

                & .input-base {
                    width: 100%;
                    height: 2.375rem;
                    border-radius: 0.28169rem;
                    border: 1.932px solid #CDCDCD !important;
                    color: $gray-2;
                    padding: 0 0.81rem;

                    & ::placeholder {
                        color: $gray-2;
                    }
                }

                #send-form {
                    width: auto;
                    padding: 0.58rem 1.74rem;
                    font-size: 0.7975rem;
                }
            }
        }

    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .body_1 {
        font-size: 1.25rem;
    }

    .text-btn {
        font-size: 1.12rem;
    }

    #main-banner {
        background-image: url("/images/attention-own-bg-desk.webp");
        padding: 6.3rem 20%;

        & h1 {
            font-size: 2rem;
        }
    }

    #content {
        border-radius: 0;
        background: white;
        padding: 3.5rem 6%;

        & .search-bank {
            align-items: start;

            & h3 {
                text-align: left;
                font-size: 1.875rem;
            }

            & .searching {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 2.5rem 0;
                gap: 5%;

                & .form-items {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 0;
                }

                & .input-base {
                    width: 100%;
                    height: 2.375rem;
                    border-radius: 0.28169rem;
                    border: 1.932px solid #CDCDCD !important;
                    color: $gray-2;
                    padding: 0 0.81rem;

                    & ::placeholder {
                        color: $gray-2;
                    }
                }


            }
        }

    }
}

@media screen and (min-width: 1441px) and (max-width: 2500px) {
    .body_1 {
        font-size: 1.5rem;
    }

    .text-btn {
        font-size: 1.3rem;
    }

    #main-banner {
        background-image: url("/images/attention-own-bg-desk.webp");
        padding: 10rem 25%;

        & .container-text {
            width: 60%;
        }

        & h1 {
            font-size: 2.5rem;
        }
    }

    #content {
        border-radius: 0;
        background: white;
        padding: 5rem 10%;
        margin: 0;

        & .search-bank {
            display: flex;
            flex-direction: column;
            align-items: start;


            & h3 {
                text-align: left;
                font-size: 2rem;
            }

            & .searching {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 2.5rem 0;
                gap: 5%;

                & .form-items {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 0;

                    & .item-form {
                        width: 32%;
                    }
                }

                & .input-base {
                    width: 100%;
                    height: 3rem;
                    border-radius: 0.28169rem;
                    border: 2px solid #CDCDCD !important;
                    color: $gray-2;
                    padding: 0 0.81rem;

                    & ::placeholder {
                        color: $gray-2;
                    }
                }

                #send-form {
                    padding: 0.6rem 2%;
                    border: 2px solid $orange-400;
                    font-size: 1.3rem;
                }
            }
        }
    }
}