// Import all of Bootstrap's CSS

@import "bootstrap/scss/bootstrap";
@import "../../global.scss";



p {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-list {
    font-family: "font-bariol-regular";
    color: $gray-1;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footer-list:hover {
    color: $orange-500;
    text-decoration: underline;
    font-family: "font-bariol-bold";
    cursor: pointer;
}

@media (max-width: 768px) {
    #footer-container {
        display: flex;
        flex-direction: column;
    }

    .dropdown {
        display: none;
        flex-direction: column;
    }

    img.icons {
        display: block;
        width: 20px;
    }
}

@media (min-width: 769px) {
    #footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
    }

    img.icons {
        display: none;
    }
}

#footer-container {
    background-color: $gray-3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px
}

.main-option {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $orange-200;
    margin-bottom: 1rem;
    height: 35px;
}

.title-option {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: "font-geomanist-bold";
    color: $orange-400;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.footer-icons {
    width: 40px;
}

.footer-icons:hover{
    cursor: pointer;
    transform: scale(1.3);
    background-color: $orange-100;
    border-radius: 3px;
}



#social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-logo {
    width: 120px;
}

#ownership-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    padding-bottom: 30px;
}

#ownership {
    font-family: "font-bariol-regular";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $gray-1;
}

