@import '../global.scss';

#main-banner {
    display: flex;
    flex-direction: column;
    background-image: url(/images/bg-business-people-mobile.webp);
    background-size: cover;
    background-position: center center;
    background-color: $orange-300;
    color: white;
    text-align: center;
    padding-top: 3.88rem;
    gap: 0.7rem;

    .container-text {
        display: flex;
        flex-direction: column;
        gap: 0.44rem;
        padding: 0 18.22%;

        .mobile {
            font-family: "font-geomanist-bold";
            font-size: 1.9375rem;
        }

        p {
            font-family: "font-bariol-regular";
            font-size: 0.8125rem;
        }
    }

    .container-img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    #main-banner {

        .container-text {
            display: flex;
            flex-direction: column;
            gap: 0.44rem;
            padding: 0 18.22%;

            .mobile {
                font-size: 2rem;
            }

            p {
                font-family: "font-bariol-regular";
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    #main-banner {
        height: 24.5625rem;
        flex-direction: row-reverse;
        background-image: url(/images/bg-business-people-desk.webp);
        text-align: left;
        padding: 0 12.37%;
        padding-top: 1.4rem;
        justify-content: space-between;

        .container-text {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 0.44rem;
            padding: 0 5%;

            .mobile {
                display:  none;
            }

            .desk {
                width: auto;
                font-size: 2rem;
                font-weight: 700;
            }

            p {
                width: auto;
                font-size: 1rem;
            }
        }

        .container-img {
            display: flex;
            width: 60%;
            height: auto;
            justify-content: flex-end;

            img {
                width: auto;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    #main-banner {
        height: 34.5625rem;
        flex-direction: row-reverse;
        background-image: url(/images/bg-business-people-desk.webp);
        text-align: left;
        padding: 0 10%;
        padding-top: 2rem;
        justify-content: space-between;

        .container-text {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 0.6rem;
            padding: 0 3%;

            .mobile {
                display:  none;
            }

            .desk {
                width: auto;
                font-size: 2.5rem;
                font-weight: 700;
            }

            p {
                width: auto;
                font-size: 1.6rem;
            }
        }

        .container-img {
            display: flex;
            width: 80%;
            height: auto;
            justify-content: flex-start;

            img {
                width: auto;
                height: auto;
            }
        }
    }
}