@import '../global.scss';

#main-banner {
    display: flex;
    flex-direction: column;
    background-image: url(/images/bg-business-people-mobile.webp);
    background-size: cover;
    background-position: center center;
    background-color: $orange-300;
    color: white;
    text-align: center;
    padding-top: 3.88rem;
    gap: 0.7rem;

    .container-text {
        display: flex;
        flex-direction: column;
        gap: 0.44rem;
        padding: 0 18.22%;

        .mobile {
            font-family: "font-geomanist-bold";
            font-size: 1.9375rem;
        }

        p {
            font-family: "font-bariol-regular";
            font-size: 0.8125rem;
        }
    }

    .container-img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

}



@media screen and (min-width: 426px) and (max-width: 768px) {
    #main-banner {

        .container-text {
            display: flex;
            flex-direction: column;
            gap: 0.44rem;
            padding: 0 18.22%;

            .mobile {
                font-size: 2rem;
            }

            p {
                font-family: "font-bariol-regular";
                font-size: 0.9rem;
            }
        }
    }
}

#nav-bar-float {
    position: absolute;
    width: 60%;
    height: 12%;
    border-radius: 5%;
    border: none;
    box-shadow: 2.7083940505981445px 3.793248176574707px 16.26532745361328px 0px rgba(159, 102, 219, 0.18);
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 20%;
    top: 630px;
    z-index: 1;

    & button {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $purple-300;
        text-align: center;
        font-family: Bariol, sans-serif;
        font-size: 18px;
        font-weight: 400;
        justify-content: center;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0 1%;

        & .icon {
            width: 24%;
            margin-bottom: 0.5rem;
        }

        & a {
            display: flex;
            text-decoration: none;
            justify-content: center;
            color: $purple-300;
        }
    }

    & button:hover {
        background-color: $purple-100;
    }

    .active{
        background-color: $purple-300;
        & p {
            color: white;
            
        }

        & img {
            filter: saturate(0) brightness(3);
        }
    }
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 8% 5%;
}

.card {
    border-style: none;
    margin: 8px;
    width: auto;
    height: auto;
    border-radius: 7.723px;
    box-shadow: 5.516607284545898px 7.723250389099121px 33.09964370727539px 0px rgba(219, 145, 102, 0.18);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-buttons {
    margin-bottom: 8px;
    margin-top: 20px;
}

.card-img-top {
    width: auto;
    padding: 4%;
}

.orange-card-button {
    background-color: $orange-300;
    color: white;
    padding: 6px 10px 8px 10px;
    border-radius: 4.470px;
    text-decoration: none;
}

.white-card-button {
    background-color: white;
    color: $orange-300;
    padding: 6px 10px 8px 10px;
    border-radius: 4.470px;
    border: 2px solid $orange-300;
    text-decoration: none;
}

.card-text {
    color: $gray-1;
    font-family: Bariol, sans-serif;
    font-size: 18px;
    width: auto;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    #main-banner {
        height: 24.5625rem;
        flex-direction: row-reverse;
        background-image: url(/images/bg-business-people-desk.webp);
        text-align: left;
        padding: 0 12.37%;
        padding-top: 1.4rem;
        justify-content: space-between;

        .container-text {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 0.44rem;
            padding: 0 5%;

            .mobile {
                display:  none;
            }

            .desk {
                width: auto;
                font-size: 2rem;
                font-weight: 700;
            }

            p {
                width: auto;
                font-size: 1rem;
            }
        }

        .container-img {
            display: flex;
            width: 60%;
            height: auto;
            justify-content: flex-end;

            img {
                width: auto;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    #main-banner {
        height: 34.5625rem;
        flex-direction: row-reverse;
        background-image: url(/images/bg-business-people-desk.webp);
        text-align: left;
        padding: 0 10%;
        padding-top: 2rem;
        justify-content: space-between;

        .container-text {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 0.6rem;
            padding: 0 3%;

            .mobile {
                display:  none;
            }

            .desk {
                width: auto;
                font-size: 2.5rem;
                font-weight: 700;
            }

            p {
                width: auto;
                font-size: 1.6rem;
            }
        }

        .container-img {
            display: flex;
            width: 80%;
            height: auto;
            justify-content: flex-start;

            img {
                width: auto;
                height: auto;
            }
        }
    }
}