  @import "bootstrap/scss/bootstrap";
  @import "../../global.scss";

  #nav-bar-float {
    position: relative;
    width: 95%;
    height: 8rem;
    border-radius: 6.7px;
    border: none;
    background-color: white;
    box-shadow: 2.7083940505981445px 3.793248176574707px 16.26532745361328px 0px rgba(159, 102, 219, 0.18);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -40px 0;
    margin-left: 2.5%;
    padding: 1rem 0;

    & button {
      width: 25%;
      height: 4rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $purple-300;
      text-align: center;
      font-family: "font-bariol-regular";
      font-size: 0.625rem;
      font-weight: 400;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0 1%;

      &:hover {
        height: 8rem;
        box-shadow: 2.7083940505981445px 3.793248176574707px 16.26532745361328px 0px rgba(159, 102, 219, 0.18);
        justify-content: center;
        align-items: center;
        z-index: 1;
      }

      & .icon {
        width: 30%;
        margin-bottom: 0.5rem;
      }

      & a {
        width: 90%;
        display: flex;
        text-decoration: none;
        justify-content: center;
        color: $purple-300;
        font-size: 0.7rem;
      }
    }

    & .option {

      &_credit {
        border-right: 1px solid $purple-100;

        &:hover {
          border: none;
          border-radius: 6.7px 0 0 6.7px;
        }
      }

      &_blog {
        border-left: 1px solid $purple-100;
        border-right: 1px solid $purple-100;

        &:hover {
          border: none;
        }
      }

      &_comparator {
        border-left: 1px solid $purple-100;
        border-right: 1px solid $purple-100;

        &:hover {
          border: none;
        }
      }

      &_simulator {
        border-left: 1px solid $purple-100;

        &:hover {
          border: none;
          border-radius: 0 6.7px 6.7px 0;
        }
      }
    }
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    html {
      font-size: 18px;
    }

    #nav-bar-float {

      height: 9rem;

      & button {
        &:hover {
          height: 9rem;
        }

        & .icon {
          width: 25%;
        }

        & a {
          font-size: 0.7rem;
        }
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1440px) {
    #nav-bar-float {
      position: relative;
      width: 70%;
      height: 12rem;
      border-radius: 0.6rem;
      border: none;
      background-color: white;
      box-shadow: 3.619999885559082px 5.070000171661377px 21.739999771118164px 0px rgba(159, 102, 219, 0.18);
      margin: -3.5rem 0;
      margin-left: 15%;

      & button {
        height: 7rem;
        font-size: 1.125rem;
        font-weight: 400;
        justify-content: center;

        &:hover {
          height: 12rem;
          justify-content: center !important;
          align-items: center !important;
        }

        & .icon {
          width: 20%;
        }

        & a {
          display: flex;
          text-decoration: none;
          font-size: 1rem;
          height: 25%;
          justify-content: center;
          color: $purple-300;
        }
      }
    }
  }

  @media screen and (min-width: 1441px) and (max-width: 2560px) {
    html {
      font-size: 22px;
    }

    #nav-bar-float {
      position: relative;
      width: 70%;
      height: 12rem;
      border-radius: 0.6rem;
      border: none;
      background-color: white;
      box-shadow: 3.619999885559082px 5.070000171661377px 21.739999771118164px 0px rgba(159, 102, 219, 0.18);
      margin: -3.5rem 0;
      margin-left: 15%;

      & button {
        height: 7rem;
        
        &:hover {
          height: 12rem;
          justify-content: center !important;
          align-items: center !important;
        }

        & .icon {
          width: 25%;
        }

        & a {
          display: flex;
          text-decoration: none;
          height: 25%;
          justify-content: center;
          color: $purple-300;
          font-size: 1.125rem;
          font-weight: 400;
        }
      }
    }
  }