@import '../global.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

.banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: space-between;
}

.woman-image{
    position: relative;
    width: 35%;
    height: auto;
    left: 20%;
    margin-top: 2rem;
    z-index: 2;
}

.banner-bg{
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: $gray-3;
    z-index: 1;
}

.info{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 1rem;
    height: max-content;
    margin-right: 5%;
    z-index: 2;
}

.title{
    color: $gray-1;
    width: 80%;
    font-family: Geomanist, sans-serif;
    font-size: 2.78375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text{
    width: 80%;
    color: $gray-2;
    font-family: Bariol, sans-serif;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tab-bar{   
    position: relative;
    display: flex;
    width: 90%;
    margin: -1rem auto;
    padding: 0.1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 30px 0px rgba(159, 102, 219, 0.18);
    border-radius: 0.4375rem;
    z-index: 3;
}

.tab-button{
    color: $gray-2;
    border: none;
    width: 100%;
    background: none;
    padding: 0.5rem;
    text-align: center;
    font-family: Bariol, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tab-content{
    display: none;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem; 
    padding: 2rem 1rem;
    width: 90%;
    margin: 3rem auto;
}

.active{
    color: $purple-300;
    border-bottom: 2px solid $purple-300;
}

.bullet-points{
    display: flex;
    flex-direction: column;
}

.points{
    color: $gray-1;
    font-family: Bariol, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;  
    font-size: 1.125rem;
}

.line-break{
  content: "";
  display: inline-block;
  width: 1px;
  height: 5em;
  background-color: $purple-100; 
  margin: 0 0.5em; 
  vertical-align: middle;
}

@media screen and (max-width:1300px) {
    body{
        font-size: 12px;
    }
}

