// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "../../global.scss";


@media (max-width: 425px) {
    section#card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: 100%;
        border: 0px;
        padding-top: 20px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    section#card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: 400px;
        border: 0px;
        padding-top: 20px;
    }
}

@media (min-width: 769px) {
    section#card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: 400px;
        border: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


div.seguros-cards {

    width: 90%;
    min-width: 200px;
    max-width: 400px;
    padding: 20px;

    border-radius: 0.4375rem;
    background: white;
    min-height: 405px;

    /* shadow blue 1 */
    box-shadow: 5px 7px 30px 0px rgba(0, 177, 187, 0.15);
    border: 0px;
}

div.card-text-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

div.text-button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}

img.card-image {
    width: 100%;
}

h2.title-card {
    color: $gray-1;
    font-family: "geomanist-bold";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116.5%;
    /* 1.165rem */

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px;
}

p.text-card {
    color: $gray-1;
    font-family: "bariol-regular";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 1.21875rem */
}

button.button-card {
    border-radius: 0.25375rem;
    background: $cyan-500;
    border: 0px;

    color: white;
    text-align: center;
    font-family: "bariol-regular";
    font-size: 0.7975rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 40%;
    height: 30px;

}

button.button-card:hover{
    background: $cyan-100;
    color: $cyan-500;
}

button.button-card:active{
    border: 2px solid $cyan-500;
    background: white;
    color: $cyan-500;
}