@use './src/global.scss' as c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --scrollY: 0px;
}

//Hero Header
#toggle {
    display: block;
}

.Bg-animation {
    height: 352px;
    background-size: auto 352px;
    background-image: url(../../public/images/hero_circles.webp), url(../../public/images/hero_circles.webp);
    background-position: calc(-290px - var(--scrollY)), calc(100% + 347px + var(--scrollY)), 100%;
    background-repeat: no-repeat;
}

.Hero {
    position: relative;
    display: grid;
    margin-top: 0;
    padding: 12px 21px;
    background-color: c.$orange-300;

    &-buttons {
        display: flex;
        justify-content: right;
        gap: 14.72px;
        height: 17%;
    }

    &-Profile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
    }

    &-Profile img {
        width: 160px;
    }

    &-menu {
        position: absolute;
        top: 81%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    &-border {
        border-right: 0.5px solid c.$orange-300;
    }
}

.Hero-menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 1.9545453786849976px 2.736363649368286px 11.727272987365723px 0px rgba(255, 105, 0, 0.15);
}

.Hero-menu li {
    list-style: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.main {
    margin-top: 2.14375em;
    margin: 2.14375em 1.46875em;
    display: flex;
    min-width: 320px;
    justify-content: flex-start;
    flex-direction: column;

    &__title {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.7em;
        margin-bottom: 2.1em;
    }

    &__title h1 {
        font-size: 1.875rem;
        color: c.$gray-2;
        font-family: 'Geomanist';
        font-weight: 700;
        margin: 0;

    }

    &__subtitle {
        color: c.$cyan-500;
        font-family: 'Bariol';
        font-size: 1.125rem;
        font-weight: 400;
        margin-bottom: 0.8125em;

    }

    &__container-user {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__post {
        border-top: 1px solid c.$cyan-500;
        padding-top: 15px;
    }

    &__account {

        margin-bottom: 2.5em;
        

        &-card {

            box-shadow: 4.7782793045043945px 6.6895904541015625px 28.669673919677734px 0px rgba(159, 102, 219, 0.18);
            transition: 0.3s ease-in-out;

            &:hover{
                cursor: pointer;
                translate: 0px -5px;
            }


            &-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 5.734px;
                background: #FFF;
                padding: 10px;

            }

            &-left {
                display: flex;
                flex-direction: column;
                font-family: 'Bariol';
                gap: 0.75em;

                & span {
                    color: c.$gray-2;
                    font-size: 1.125rem;
                    font-weight: 500;
                }

                & p {
                    color: c.$gray-2;
                    font-size: 0.8125rem;
                }
            }

            &-cta {
                display: flex;
                border-radius: 0px 0px 5.734px 5.734px;
                background: c.$cyan-500;
                font-family: 'Bariol';
                padding: 0.15625em;

                & span {
                    margin: 0 auto;
                    color: #FFF;
                }
            }
        }
    }

    &__products {
        margin-bottom: 0;

        &-button {
            margin-bottom: 1em;
        }
    }
}

@media screen and (min-width: 768px) {
    .main {

        padding: 0px 60px;

        &__container-user {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        &__account {
            &-card {
                &-container {
                    padding: 15px;
                    height: 210px;
                }
            }
        }



    }


}