// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//Colors
$orange-1000: #1B0B00;
$orange-900: #331500;
$orange-800: #662B00;
$orange-700: #994000;
$orange-600: #CC5500;
$orange-600: #CC5500;
$orange-500: #FF6900;
$orange-400: #FF8833;
$orange-300: #FFA666;
$orange-200: #FFC499;
$orange-100: #FFE1CC;

$purple-1000: #0E021B;
$purple-900: #130720;
$purple-800: #260F40;
$purple-700: #3A165F;
$purple-600: #4D1E7F;
$purple-500: #5F259F;
$purple-400: #7F33CF;
$purple-300: #9F66DB;
$purple-200: #BF99E7;
$purple-100: #DFCCF3;

$cyan-1000: #001A1B;
$cyan-900: #002425;
$cyan-800: #00474B;
$cyan-700: #006B70;
$cyan-600: #008E96;
$cyan-500: #00B1BB;
$cyan-400: #00EFFC;
$cyan-300: #3DF5FF;
$cyan-200: #7EF9FF;
$cyan-100: #BEFCFF;

$indigo-1000: #05081B;
$indigo-900: #0A0C19;
$indigo-800: #151833;
$indigo-700: #1F244C;
$indigo-600: #2A3066;
$indigo-500: #343C7F;
$indigo-400: #4752AE;
$indigo-300: #727AC5;
$indigo-200: #A1A7D9;
$indigo-100: #D0D3EC;

//Fonts

$font: 24px;


