// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//Colors
$orange-1000: #1B0B00;
$orange-900: #331500;
$orange-800: #662B00;
$orange-700: #994000;
$orange-600: #CC5500;
$orange-600: #CC5500;
$orange-500: #FF6900;
$orange-400: #FF8833;
$orange-300: #FFA666;
$orange-200: #FFC499;
$orange-100: #FFE1CC;

$purple-1000: #0E021B;
$purple-900: #130720;
$purple-800: #260F40;
$purple-700: #3A165F;
$purple-600: #4D1E7F;
$purple-500: #5F259F;
$purple-400: #7F33CF;
$purple-300: #9F66DB;
$purple-200: #BF99E7;
$purple-100: #DFCCF3;

$cyan-1000: #001A1B;
$cyan-900: #002425;
$cyan-800: #00474B;
$cyan-700: #006B70;
$cyan-600: #008E96;
$cyan-500: #00B1BB;
$cyan-400: #00EFFC;
$cyan-300: #3DF5FF;
$cyan-200: #7EF9FF;
$cyan-100: #BEFCFF;

$indigo-1000: #05081B;
$indigo-900: #0A0C19;
$indigo-800: #151833;
$indigo-700: #1F244C;
$indigo-600: #2A3066;
$indigo-500: #343C7F;
$indigo-400: #4752AE;
$indigo-300: #727AC5;
$indigo-200: #A1A7D9;
$indigo-100: #D0D3EC;



//Fonts
$gray-1: #676767;
$gray-2: #ACACAC;
$gray-3: #EFEFEF;

//Fonts

$font-path: "../fonts/";

@font-face {
    font-family: "font-bariol-bold";
    src: url("#{$font-path}bariol_bold.ttf") format("truetype");
}

@font-face {
    font-family: "font-bariol-bold-italic";
    src: url("#{$font-path}bariol_bold_italic.ttf") format("truetype");
}

@font-face {
    font-family: "$font-bariol-light";
    src: url("#{$font-path}bariol_light.ttf") format("truetype");
}

@font-face {
    font-family: "font-bariol-light-italic";
    src: url("#{$font-path}bariol_light_italic.ttf") format("truetype");
}

@font-face {
    font-family: "font-bariol-regular";
    src: url("#{$font-path}bariol_regular.ttf") format("truetype");
}

@font-face {
    font-family: "font-bariol-regular-italic";
    src: url("#{$font-path}bariol_regular_italic.ttf") format("truetype");
}

@font-face {
    font-family: "font-bariol-thin-italic";
    src: url("#{$font-path}bariol_thin_italic.ttf") format("truetype");
}

@font-face {
    font-family: "font-bariol-thin";
    src: url("#{$font-path}bariol_thin.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-black";
    src: url("#{$font-path}Geomanist-Black.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-bold";
    src: url("#{$font-path}Geomanist-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-book";
    src: url("#{$font-path}Geomanist-Book.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-extra-light";
    src: url("#{$font-path}Geomanist-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-light";
    src: url("#{$font-path}Geomanist-Light.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-medium";
    src: url("#{$font-path}Geomanist-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-regular";
    src: url("#{$font-path}Geomanist-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-thin";
    src: url("#{$font-path}Geomanist-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "font-geomanist-ultra";
    src: url("#{$font-path}Geomanist-Ultra.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


//fonts styles

$font: 24px;

