@import './global.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    margin: 0px;
}

h2 {
    font-family: $font-geomanist-bold;
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
}

h3 {
    margin-bottom: 20px;
    font-family: $font-geomanist-bold;
    font-size: 18px;
    font-weight: 700;
    color: $orange-400;
}

.title-25 {
    margin: 0;
    font-family: $font-geomanist-bold;
    font-size: 25px;
    font-weight: 700;
    color: $gray-1;
}

.body2 {
    color: $gray-1;
    font-family: $font-bariol-regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 168.5%;
}

// Main Banner
#main {
    &_banner {
        height: 290px;
        margin: 0px;
        background-color: $gray-3;
    }

    &_container-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }

    &_title {
        color: $gray-1;
        font-family: $font-geomanist-bold;
        font-size: 20px;
        font-weight: 700;
        line-height: 137%;
    }

    &_text {
        color: $gray-1;
        font-family: $font-bariol-regular;
        font-size: 12px;
        line-height: 133%;
    }

    &_btn {
        width: 95%;
        height: 30px;
        padding: 5px;
        border-radius: 4px;
        border: none;
        background-color: $purple-300;
        color: white;
        text-align: center;
        font-family: $font-bariol-regular;
        font-size: 13.424px;
        line-height: normal;
        text-decoration: none;
    }

    &_banner-container {
        position: absolute;
        top: 71px;
        left: 57.7%;
        width: 42.3%;
        display: flex;
        padding: 0px 5.13%;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

.circle-mobile {
    width: 100%;
}

.woman-mobile {
    width: 52%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#nav-bar-float {
    height: 85.29px;
    margin: -40px 0;
    background-color: black;
}

#products-landing {
    padding-left: 5.13%;
    padding-right: 5.13%;
    padding-top: 87px;
    padding-right: 25px;

    & .titles-section {

        display: flex;
        flex-direction: column;
        gap: 30px;

        & h3 {
            color: $cyan-500 !important;
        }
    }

    & .container-products {
        & .dropdown-products {
            width: 70.3%;
            height: 35px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1.779px solid white;
            background: $cyan-500;
            box-shadow: 2.964601755142212px 4.150442600250244px 17.78761100769043px 0px rgba(0, 177, 187, 0.21);
            margin-bottom: 20px;
        }

        & .description-product {
            display: flex;
            flex-direction: row;
            margin: 20px 0px;
            gap: 7px;

            &_text {
                display: flex;
                flex-direction: column;
                gap: 22px;
                margin-top: -3px;
            }
        }

        & .asterisks-mobile {
            width: 4.3%;
        }

        & .images-product {
            margin-top: -140px;
            justify-content: center;

            & .bg-products {
                width: 111%;
                margin: 0px -5.15%
            }

            & .image-ref-product {
                position: absolute;
                width: 61.15%;
                top: 802px;
                left: 20%;
            }
        }
    }

}

#explore-news {
    padding: 25px 5.13%;

    & .our-app {
        width: 100%;
        background-color: $purple-300;
        border-radius: 5px;

        & .bg-news {
            width: 100%;
        }

        & .container-text {
            width: 75.26%;
            position: absolute;
            top: 1200px;
            left: 12.9%;
            gap: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & h1 {
                width: 100%;
                color: white !important;
                text-align: center;
            }

            & p {
                width: 80%;
                color: white !important;
                text-align: center;
            }
        }

        & .btn {
            position: absolute;
            top: 1420px;
            left: 30%;
            width: auto;
            height: auto;
            padding: 11.3px 17px;
            border-radius: 4px;
            border: none;
            background-color: $orange-300;
            color: white;
            text-align: center;
            font-family: $font-bariol-regular;
            font-size: 17.655px;
            font-weight: 400;
        }
    }

}

#favorites {
    padding: 25px 5.13%;

    & .card-favorite {

        & .orange {
            width: 100%;
            height: 130px;
            border-radius: 7.67px;
            background-image: url(./public/images/card-search-orange-mobile.webp);
            background-size: cover;
            background-position: center center;
        }

        & h2 {
            color: white;
            padding-top: 31.66px;
            padding-left: 23px;
        }

        & p {
            width: 56.3%;
            color: white;
            padding-left: 23px;
        }
    }
}