@import './global.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    margin: 0px;
}

h2 {
    font-family: $font-geomanist-bold;
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
}

h3 {
    margin-bottom: 20px;
    font-family: $font-geomanist-bold;
    font-size: 18px;
    font-weight: 700;
    color: $orange-400;
}

.title-25 {
    margin: 0;
    font-family: $font-geomanist-bold;
    font-size: 25px;
    font-weight: 700;
    color: $gray-1;
}

.body1 {
    color: white;
    text-align: center;
    font-family: $font-bariol-regular;
    font-size: 16.7px;
    font-weight: 400;
    line-height: 138%;
}

.body2 {
    color: $gray-1;
    font-family: $font-bariol-regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 168.5%;
}

// Main Banner
#main-banner {
    width: 100%;
    height: auto;
    margin: 0px;
    background-color: $gray-3;
    background-image: url(./public/images/circle-banner-main-mobile.webp);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;

    & .banner-container {
        width: 42.3%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    & .container-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }

    & .title {
        color: $gray-1;
        font-family: $font-geomanist-bold;
        font-size: 20px;
        font-weight: 700;
        line-height: 137%;
    }

    & .text {
        width: 80%;
        color: $gray-1;
        font-family: $font-bariol-regular;
        font-size: 12px;
        line-height: 133%;
    }

    & .btn {
        width: 95%;
        height: 30px;
        padding: 5px;
        border-radius: 4px;
        border: none;
        background-color: $purple-300;
        color: white;
        text-align: center;
        font-family: $font-bariol-regular;
        font-size: 13.424px;
        line-height: normal;
        text-decoration: none;
    }


    & .circle-mobile {
        width: 100%;
    }

    & .woman-mobile {
        width: 52%;
        top: 0px;
        left: 0px;
    }
}


#nav-bar-float {
    height: 85.29px;
    margin: -40px 0;
    background-color: black;
    opacity: 20%;
}

#products-landing {
    background-image: url(./public/images/bg-product-ahorro-mobile.webp);
    background-size: cover;
    background-position: center center;


    & .titles-section {
        padding-left: 5.13%;
        padding-top: 87px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        & h3 {
            color: $cyan-500 !important;
        }
    }

    & .container-products {
        padding: 0px 5.13%;

        & .dropdown-products {
            width: 70.3%;
            height: 35px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1.779px solid white;
            background: $cyan-500;
            box-shadow: 2.964601755142212px 4.150442600250244px 17.78761100769043px 0px rgba(0, 177, 187, 0.21);
            margin-bottom: 20px;
        }

        & .info-product {
            display: flex;
            flex-direction: column;
            gap: 18px;
            align-items: center;
        }

        & .description-product {
            display: flex;
            flex-direction: co;
            margin: 20px 0px;
            gap: 7px;

            &_text {
                display: flex;
                flex-direction: column;
                gap: 22px;
                margin-top: -3px;
            }
        }

        & .asterisks-mobile {
            width: 4.3%;
        }

        & .image-ref-product {
            width: 61.15%;
        }
    }

}

#explore-news {
    padding: 25px 5.13%;

    & .our-app {
        width: 100%;
        background-image: url(./public/images/bg-news-mobile.webp);
        background-size: cover;
        background-position: center center;
        background-color: $purple-300;
        border-radius: 5px;
        display: flex;
        justify-content: center;

        & .container-info {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 163.834px;
        }

        & .container-text {
            width: 75.26%;
            padding-top: 48.8px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & h1 {
                width: 100%;
                color: white !important;
                text-align: center;
            }

            & p {
                color: white !important;
                text-align: center;
            }
        }

        & .btn {
            width: auto;
            height: auto;
            padding: 11.3px 17px;
            border-radius: 4px;
            border: none;
            background-color: $orange-300;
            color: white;
            text-align: center;
            font-family: $font-bariol-regular;
            font-size: 17.655px;
            font-weight: 400;
            margin-bottom: 70.66px;
        }
    }

}

#favorites {
    padding: 25px 5.13%;
    display: flex;
    flex-direction: column;
    gap: 9px;

    & .card-favorite {

        & .orange {
            margin-top: -9px;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 130px;
            border-radius: 7.67px;
            background-image: url(./public/images/card-search-orange-mobile.webp);
            background-size: cover;
            background-position: center center;
        }

        & .violet {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 130px;
            border-radius: 7.67px;
            background-image: url(./public/images/card-search-violet-mobile.webp);
            background-size: cover;
            background-position: center center;
        }

        & .blue {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 130px;
            border-radius: 7.67px;
            background-image: url(./public/images/card-search-blue-mobile.webp);
            background-size: cover;
            background-position: center center;
        }

        & img {
            width: 10.1%;
        }

        & h2 {
            color: white;
            padding-top: 31.66px;
            padding-left: 23px;
        }

        & p {
            width: 56.3%;
            color: white;
            padding-left: 23px;
        }
    }
}

#finance {
    background-image: url(./public/images/bg-finance-mobile.webp);
    background-size: cover;
    background-position: center center;
    margin: 25px 0;
    padding-top: 68.53px;

    & .container-text {
        padding: 0% 5.13%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15.66px;

        & h1 {
            color: white;
            text-align: center;
            font-family: $font-geomanist-bold;
            font-size: 27px;
            font-weight: 700;
            line-height: 138%;
        }

        & .btn {
            width: 39.66%;
            height: 37.574px;
            padding: 10px 5px;
            border-radius: 4px;
            border: none;
            background: $orange-300;
            color: white;
            text-align: center;
            font-family: $font-bariol-regular;
            font-size: 16px;
            line-height: normal;
            text-decoration: none;
        }
    }

    & img {
        width: 39.29%;
        margin-top: -50px;
    }
}

#featured-articles {
    padding: 25px 5.13%;

    & .each-article {
        width: 96%;

        & .card {
            border-radius: 8.66px !important;
            padding: 12.12px 3.35%;
            box-shadow: 5px 7px 30px 0px rgba(159, 102, 219, 0.18);
            margin: 0px;
            background: #FDFDFD;
            border: none;

            & img {
                margin-bottom: 23px;
            }

            & h5 {
                color: $gray-1;
                font-family: $font-geomanist-bold;
                font-size: 13.856px;
                font-weight: 700;
                line-height: normal;
                margin: 0px;
            }

            & .card-text {
                color: $gray-1;
                font-family: $font-bariol-regular;
                font-size: 12.99px;
                font-weight: 400;
                line-height: 150%;
                margin: 14.72px 0px;
            }

            & .more {
                display: flex;
                height: 12.124px;
                flex-direction: row;
                gap: 3.28px;
                margin-top: 18.34px;
                justify-content: center;
                align-items: center;

                & .link {
                    width: 100%;
                    color: $purple-300;
                    text-align: right;
                    font-family: $font-geomanist-medium;
                    font-size: 12.124px;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                }

                & .icon {
                    width: 4.8%;
                    margin: 0 !important;
                }
            }
        }
    }
}

#profile-w {
    padding: 25px 5.13%;

    & .benefits {
        width: 100%;
        border-radius: 4.562px;
        background: var(--naranja-400, #F83);
        background-image: url(./public/images/circles-profile-mobile.webp);
        background-size: cover;
        background-position: center center;

        & .description {
            display: flex;
            flex-direction: row;

            & img {
                width: 52.23%;
                margin-top: -50px;
            }

            &_text {
                display: flex;
                flex-direction: column;
                gap: 10px
            }

            & h4 {
                color: var(--gris, #EFEFEF);
                font-family: Geomanist;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}