<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="view port" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <nav class="inclusive-button">
        <input type="checkbox" id="show-btn">
        <div class="options">
            <div id="pqrs">
                <a href="#">
                    <img src="../../public/icons/pqrs.svg" alt="">
                </a>
                <span class="pqrs-span">PQRS</span>
            </div>
            
            <div id="tutorial">
                <a href="#"><img src="../../public/icons/tutorial.svg" alt=""></a>
                <span>Tutoriales</span>
            </div>

            <div id="asesoria">
                <a href="#"><img src="../../public/icons/asesoria.svg" alt=""></a>
                <span>Asesorías</span>
            </div>
            
            <div id="chat">
                <a href="#"><img src="../../public/icons/chat.svg" alt=""></a>
                <span>Chat</span>
            </div>
            
        </div>
        <div class="show-btn">
            
            <label for="show-btn">
                <img class="show-button" src="../../public/icons/help.svg" alt="">
                <span class="label-hidden">Botón de ayuda</span>
            </label>
            
        </div>
    </nav>
</body>
</html>