// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "../../global.scss";

* {
    margin: 0px;
    padding: 0px;
    font-family: $font-bariol-regular;
    font-size: 16px;
}

#show-btn {
    display: none;
}

.inclusive-button {
    position: fixed;
    bottom: 60px;
    right: 50px;
}

.options div a {
    display: block;
    text-decoration: none;
    background: white;
    width: 61px;
    height: 61px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    transition: all 500ms ease;
}

#night {
    position: absolute;
    bottom: -40px;
    right: 130px;
}

#night span{
    margin-left: 10px;
    position: absolute;
    right: 80px;
    bottom: 15px;
    width: 80px;
    opacity: 0;
    padding: 5px 20px;
    color: white;
    transition: opacity 0.3s;
    border-radius: 20px;
    background-color: $cyan-500;
}

#night a img:hover + .plus span{
    background-color: $cyan-500;
    opacity: 1;
}

#show-btn:checked~ .show-btn span {
    opacity: 0;
}

#contrast {
    position: absolute;
    bottom: 40px;
    right: 130px;
}

#contrast span{
    margin-left: 10px;
    position: absolute;
    right: 80px;
    bottom: 15px;
    width: 110px;
    opacity: 0;
    padding: 5px 20px;
    color: white;
    transition: opacity 0.3s;
    border-radius: 20px;
    background-color: $cyan-500;
}

#minus {
    position: absolute;
    bottom: 110px;
    right: 70px;
}

#minus span{
    margin-left: 10px;
    position: absolute;
    right: 80px;
    bottom: 15px;
    width: 110px;
    opacity: 0;
    padding: 5px 20px;
    color: white;
    transition: opacity 0.3s;
    border-radius: 20px;
    background-color: $cyan-500;
}

#plus {
    position: absolute;
    bottom: 115px;
    right: -20px;
}
#plus span{
    margin-left: 10px;
    position: absolute;
    right: 30px;
    bottom: 70px;
    width: 70px;
    opacity: 0;
    padding: 5px 20px;
    color: white;
    transition: opacity 0.3s;
    border-radius: 20px;
    background-color: $cyan-500;
}

#show-btn:checked~ .options div span {
    opacity: 1;
}

.show-btn img{
    background-color: $cyan-500;
    width: 97px;
    height: 97px;
    line-height: 55px;
    padding: 20px 14px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.options div a:hover {
    background-color: $cyan-500;

}

.options div a {
    opacity: 0;
    visibility: hidden;
    position: relative;
}

#show-btn:checked~ .options div a {
    opacity: 1;
    visibility: visible;
}

.label-hidden {
    margin-left: 10px;
    position: absolute;
    right: 80px;
    bottom: 30px;
    width: 160px;
    opacity: 0;
    padding: 5px 20px;
    color: white;
    transition: opacity 0.3s;
    border-radius: 20px;
}

.show-button:hover + .label-hidden {
    background-color: $cyan-500;
    opacity: 1;
}

#show-btn:checked~ .show-btn span {
    opacity: 0;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1020px) {
    #pqrs {
        position: inherit;
    }

    #pqrs span{
        bottom: 80px;
        right: 80px;
        background-color: transparent;
    }

    #tutorial {
        position: inherit;
    }

    #tutorial span {
        bottom: 145px;
        right: 80px;
        background-color: transparent;
    }

    #asesoria {
        position: inherit;
    }

    #asesoria span {
        bottom: 205px;
        right: 80px;
        background-color: transparent;
    }

    #chat {
        position: inherit;
    }
    #chat span {
        bottom: 265px;
        right: 85px;
        background-color: transparent;
    }

    .options {
        background-color: white;
        width:75px;
        border-radius: 50px;
        padding: 10px 7px 70px 7px;
        opacity: 0;
    }

    .options div span {
        text-align: center;
    }

    .help-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .show-btn {
        position: absolute;
        bottom: -40px;
    }

    #show-btn:checked~ .options {
        opacity: 1;
    }
}