@use '../../src/global.scss' as c;

//Mixins

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --scrollY: 100px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
margin-bottom: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

//Hero Header

.Bg-animation {
    background-size: auto 314px; 
    background-image: url(/public/images/bg_pagos.webp), url(/public/images/bg_pagos.webp);
    background-position: calc(-142px - var(--scrollY)), calc(100% + 110px + var(--scrollY)), 100%;
    background-repeat: no-repeat;
    background-color: #00B1BB;
    border-radius: 5.469px;
}

main {
    margin: 0 1.25rem;
}

.Hero {
    width: 100%;
    margin-top: 4rem;

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 28px 0;
        gap: 22px;
    }
    &-header img {
        width: 74px;
        height: 74px;
    }
    &-header h3 {
        color: var(--gris, #EFEFEF);
        text-align: center;
        font-family: "Geomanist";
        font-size: 20px;    
    }

}
//el resto

.Card {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 5px 7px 25px 0px rgba(0, 177, 187, 0.10);
    width: 100%;
    padding: 22px 19px;
    margin-top: 1.5rem;

    &-title {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 1rem;
    }
    &-title h6 {
        color: c.$cyan-500;
        font-family: "Bariol";
        font-size: 16px;
    }
    &-date,
    &-value {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-info {
        display: flex;
        align-items: center;
        gap: 11px;
    }
    &-info:nth-child(1) {
        margin-bottom: 0.7rem;
    }
    &-date p,
    &-value p{
        color: c.$gray-2;
        font-family: "Bariol";
        font-size: 13px;
    }
}
.subtitle {
    color: c.$gray-1;
    font-family: "Bariol";
    margin-bottom: 1rme;
    font-size: 1.125rem;
    margin: 1.5rem 0 !important;
}

//Checkbox

.Payment{
    margin-bottom: 0.8rem;

    &-info {
        display: flex;
        gap: 0.75rem;
        align-items: center;
    }
    & p {
        color: c.$gray-1;
        font-family: "Bariol";
        font-size: 1rem; 
    }
    & span {
        color: c.$gray-2;
        font-family: "Bariol";
        font-size: 0.8125rem;
    }
}

.Checkbox{
    margin-bottom: 0.8rem;

    &-total,
    &-value {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }
    &-total p,
    &-value p {
        color: c.$gray-2;
        font-family: "Bariol";
        font-size: 1rem; 
    }
}

.next-btn {
    border-radius: 0.4375rem;
    width: 100%;
    padding: 1rem 3rem;
    background: c.$orange-400;
    color: #FFF;
    text-align: center;
    font-family: "Bariol";
    font-size: 1rem;
    border: none;
    margin-top: 1.5rem;
    cursor: pointer;
}

.minium-value {
    color: c.$gray-1;
    font-family: "Bariol";
    font-size: 1rem;
}

#change-value {
    display: block;
}

#textoInput {
    display: none;
    margin-top: 10px;
}

#spanMensaje {
    display: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
      --active: #FF8833;
      --active-inner: #fff;
      --focus: 1px #FFE1CC;
      --border: #FFE1CC;
      --border-hover: #FF8833;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 3px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
      transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    }
    .checkbox-wrapper-13 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    .checkbox-wrapper-13 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox-wrapper-13 input[type=checkbox]:focus {
      -webkit-box-shadow: 0 0 0 var(--focus);
              box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox-wrapper-13 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      border-radius: 50px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 5.5px;
      top: 3px;
      -webkit-transform: rotate(var(--r, 20deg));
          -ms-transform: rotate(var(--r, 20deg));
              transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  .checkbox-wrapper-13 * {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  .checkbox-wrapper-13 *:before,
  .checkbox-wrapper-13 *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }


  
@media only screen and (min-width: 780px){

}

@media only screen and (min-width: 1024px){
    .Bg-animation {
        background-size: auto 314px; 
        background-image: url(/public/images/bg_pagos.webp), url(/public/images/bg_pagos.webp);
        background-position: calc(-142px - var(--scrollY)), calc(100% + 110px + var(--scrollY)), 100%;
        background-repeat: no-repeat;
        background-color: #00B1BB;
        border-radius: 5.469px;
    }
}


@media only screen and (min-width: 1440px){

}



